@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='bumblebee'] .bgImg {
    background-image: url('https://imgs.search.brave.com/4ZNbIFuWsE6uhP7mZzgY0SDS5hGII-lNFHstawFVVpY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAwLzY0LzgzLzU4/LzM2MF9GXzY0ODM1/ODE4X1J3Q3hxWE12/UTdPWEYzYkR6d2FN/YnVzalFqRG1ZWjNx/LmpwZw');
    background-repeat: repeat-y;
    background-size: contain;
}


[data-theme='coffee'] .bgImg {
    background-image: url('https://imgs.search.brave.com/5L8_eXAgjWAkyD30TVI3nU-yZa8qKiWfvFQEyW1epUA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDIwMTk2/MzEuanBn');
    background-repeat: repeat-y;
    background-size: contain;
}